################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Settlements/FileContentIndex/4a90b7f6-8ab1-47c1-b0c7-562c43610cd9.vsidx
